.App {
  text-align: center;
}

.image {
  border-radius: 50%;
}

.pagination {
  position: relative;
  left: 50%;
  transform: translateX(-5%);
  margin-top: 20px;
}

.check {
  position: absolute;
  top: 15%;
  left: 55%;
}
